<nav id="main-nav" class="nav-transparent">
    <div class="container">
        <a href="/" class="logo">CareerQuest</a>
        <div class="nav-links">
            <a href="/" class="nav-link">Home</a>
            <a href="/resumeBuilder" class="nav-link">Resume Builder</a>
            <a href="/jobs" class="nav-link">Jobs</a>
        </div>
        <div class="auth-buttons">
            <a href="/login" class="btn btn-light">Login</a>
            <a href="/signup" class="btn btn-primary">Sign Up</a>
        </div>
    </div>
</nav>